.jumbotron.headerJumbo.row
	%h1.pull-left.clearNone Pool Standings
	%p.small.i.pull-right.clearNone.updatedAt Scores Updated at: #{@updatedAt.in_time_zone("Eastern Time (US & Canada)").strftime('%l:%M %p, %b %-d')}

#StandingsBody
	%p
		%small
			%em Click a player to see their teams
	#UserTeams.col-md-12.col-sm-12.col-xs-12
		%table{:class => 'table table-striped table-hover standingsTable'}
			%tr
				%th.col-md-1.col-sm-1.col-xs-1.text-left
					%h5.text-left Rank
				%th.col-md-4.col-md-offset-1.col-sm-2.col-xs-2.text-left
					%h5.text-left Player
				%th.col-md-1.col-sm-1.col-xs-1.text-center
					%h5.text-center Win
				%th.col-md-1.col-sm-1.col-xs-1.text-center
					%h5.text-center   Loss
				%th.col-md-1.col-sm-1.col-xs-1.text-center
					%h5.text-center   Tie
				%th.col-md-2.col-sm-2.col-xs-2.text-center
					%h5.text-center  Win %
				%th.col-md-1.col-sm-1.col-xs-1.text-center
					%h5.text-center   GB
			- i = 1
			- @users.each do |u|
				- if u.id == @auth_user.id
					- @highlight = "trow-warning-bs"
				- else
					- @highlight = ""
				%tr.playerTeam{:"data-userid" => "#{u.id}", :class => @highlight }
					%td.text-center
						%h4.text-left #{i}
					%td.text-left
						%h4.text-left #{u.owner}
					%td.text-center
						%h4.text-center #{u.wins}
					%td.text-center
						%h4.text-center #{u.losses}
					%td.text-center
						%h4.text-center #{u.ties}
					- getUserWinPercent(u.wins, u.losses, u.ties)
					%td.text-center
						%h4.text-center #{@wP}
					- if u == @users[0]
						%td.text-center
							%h4 ---
					- else
						- @gb = @users[0].wins - u.wins
						%td.text-center
							%h4 #{@gb}
				- i += 1
					


