.jumbotron.headerJumbo
	%h1 Standings

#UserTeams.col-md-11.col-sm-12.col-xs-12
	%table{:class => 'table table-striped table-hover standingsTable'}
		%tr
			%th.col-md-1.col-sm-1.col-xs-1.text-left
				%h5.text-left Rank
			%th.col-md-4.col-md-offset-1.col-sm-5.col-xs-5.text-left
				%h5.text-left Player
			%th.col-md-1.col-sm-1.col-xs-1.text-center
				%h5.text-center Win
			%th.col-md-1.col-sm-1.col-xs-1.text-center
				%h5.text-center   Loss
			%th.col-md-1.col-sm-1.col-xs-1.text-center
				%h5.text-center   Tie
			%th.col-md-2.col-sm-2.col-xs-2.text-center
				%h5.text-center  Win %
			%th.col-md-1.col-sm-1.col-xs-1.text-center
				%h5.text-center   GB
		- i = 1
		- @users.each do |u|
			%tr
				%td.text-center
					%h4.text-left #{i}
				%td.text-left.playerTeam{:"data-userid" => "#{u.id}" }
					%h4.text-left #{u.owner}
				%td.text-center
					%h4.text-center #{u.wins}
				%td.text-center
					%h4.text-center #{u.losses}
				%td.text-center
					%h4.text-center #{u.ties}
				- if u.wins > 0 || u.losses > 0 || u.ties > 0
					- @gms = u.wins + u.losses + u.ties
					- @winp = (u.wins.to_f/@gms.to_f)*1000
					%td.text-center
						%h4 .#{number_to_percentage(@winp, precision: 0)}
				- else
					%td.text-center
						%h4 .000%
				- if u == @users[0]
					%td.text-center
						%h4 ---
				- else
					- @gb = @users[0].wins - u.wins
					%td.text-center
						%h4 #{@gb}
			- i += 1
				


#TeamModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "PlayerModalLabel", :role => "dialog", :tabindex => "-1"}