<p id="notice"><%= notice %></p>

<p>
  <strong>Week:</strong>
  <%= @schedule.week %>
</p>

<p>
  <strong>Date:</strong>
  <%= @schedule.date %>
</p>

<p>
  <strong>Visitor:</strong>
  <%= @schedule.visitor_id %>
</p>

<p>
  <strong>Home:</strong>
  <%= @schedule.home_id %>
</p>

<p>
  <strong>Visitor score:</strong>
  <%= @schedule.visitor_score %>
</p>

<p>
  <strong>Home score:</strong>
  <%= @schedule.home_score %>
</p>

<p>
  <strong>Winning team:</strong>
  <%= @schedule.winning_team_id %>
</p>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
