- @vTeam = Team.find(s.visitor_id)
- @hTeam = Team.find(s.home_id)
- if @vTeam.id == s.winning_team_id
	- @vTeamText = "text-success"
	- @hTeamText = "text-danger"
- elsif @hTeam.id == s.winning_team_id
	- @hTeamText = "text-success"
	- @vTeamText = "text-danger"
- elsif s.date < Time.now
	- @vTeamText = "text-warning"
	- @hTeamText = "text-warning"
- else
	- @vTeamText = ""
	- @hTeamText = ""
-# %td{:class => 'centerText'} #{s.week}
%td
	%h5.text-center #{s.date.strftime('%a, %b %-d')}
%td
	%h5.text-center #{s.date.strftime('%l:%M %p')}
%td.tableBorderLeft
	%h4{:class => "#{@vTeamText}"} #{@vTeam.city} #{@vTeam.name}
- if s.visitor_score.nil?
	%td.col-md-1.col-xs-1
		%input.form-control{:id => "vTeam#{s.id}"}
- else
	%td
		%h4.text-center #{s.visitor_score}
%td.tableBorderLeft
	%h4{:class => "#{@hTeamText}  text-left"} #{@hTeam.city} #{@hTeam.name}
- if s.home_score.nil?
	%td{:class => 'col-md-1 col-xs-1'}
		%input.form-control{:id => "hTeam#{s.id}"}  
- else
	%td 
		%h4.text-center #{s.home_score}
- if @auth_user.admin?
	- if s.winning_team_id.nil?
		%td.tableBorderLeft.text-center
			%button.btn.btn-info.btn-sm.saveGame.tableBorderLeft.text-center.schedGame{:'data-sid' => "#{s.id}", :'data-vteam' => "#{@vTeam.id}", :'data-hteam' => "#{@hTeam.id}", :"data-loading-text" => "Saving..."} Save
	- else
		%td.tableBorderLeft.text-center
			%button.btn.btn-caution.btn-sm.editGame.tableBorderLeft.text-center.schedGame{:'data-sid' => "#{s.id}", :'data-vteam' => "#{@vTeam.id}", :'data-hteam' => "#{@hTeam.id}", :"data-loading-text" => "Saving..."} Edit
- else
	- if s.date < Time.now
		- if s.winning_team_id.nil?
			%td.unAuthGame.tableBorderLeft.text-center
				%button.btn.btn-warning.btn-sm.schedGame{:'data-sid' => "#{s.id}", :'data-vteam' => "#{@vTeam.id}", :'data-hteam' => "#{@hTeam.id}", :"data-loading-text" => "Saving..."} In Progress
		- else
			%td.unAuthGame.tableBorderLeft.text-center 
				%button.btn.btn-danger.btn-sm.schedGame{:'data-sid' => "#{s.id}", :'data-vteam' => "#{@vTeam.id}", :'data-hteam' => "#{@hTeam.id}", :"data-loading-text" => "Saving..."} Final