-# - if @auth_user.id == @userName.id
-# 	%tr{:class => 'playerRow', :'data-name' => t.city_abr}
-# 		%td.centerText #{t.city} #{t.name}
-# - else 
-# 	%tr{:class => 'playerRowB', :'data-name' => t.city_abr}
-# 		%td.centerText #{t.city} #{t.name}

%tr{:class => 'playerRow', :'data-name' => t.city_abr}
		%td.centerText #{t.city} #{t.name}

		