.modal-dialog
	.modal-content
		.modal-header
			%button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
			%h4.modal-title #{u.owner}
		.modal-body
			%table.table.table-striped.table-condensed.table-bordered
				%tr
					%th.col-md-5.col-sm-5.col-xs-5
						%h5.text-left  Team
					%th.col-md-1.col-sm-1.col-xs-1.text-center
						%h5.text-center  W
					%th.col-md-1.col-sm-1.col-xs-1.text-center
						%h5.text-center  L
					%th.col-md-1.col-sm-1.col-xs-1.text-center
						%h5.text-center  T
					%th.col-md-2.col-sm-2.col-xs-2.text-center
						%h5.text-center  Win %
				- i = 1
				- u.teams.each do |t|
					%tr.NFLTeamSched{:"data-teamid" => "#{t.id}"}
						%td
							%h4.text-left #{t.city} #{t.name}
						%td.text-center
							%h4.text-center #{t.wins}
						%td.text-center
							%h4.text-center #{t.losses}
						%td.text-center
							%h4.text-center #{t.ties}
						- getUserWinPercent(t.wins, t.losses, t.ties)
						%td.text-center 
							%h4.text-center #{@wP}
						- i =+ 1
		.modal-footer
			%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
			-# %button.btn.btn-primary{:type => "button"} Save changes