-if @auth_user
	- if @auth_user.id == @userName.id || @auth_user.id == 2
		%tr{}
			%td.centerText
				%a{:href => "#", :class => 'playerRow', :'data-name' => t.city_abr, :'data-confirm' => "Are you sure you want to draft the #{t.city} #{t.name}?"} #{t.city} #{t.name}

	- else 
		%tr{:class => 'playerRowB', :'data-name' => t.city_abr}
			%td.centerText #{t.city} #{t.name}
- else 
	%tr{:class => 'playerRowB', :'data-name' => t.city_abr}
		%td.centerText #{t.city} #{t.name}

-# %tr{:class => 'playerRow', :'data-name' => t.city_abr}
-# 		%td.centerText #{t.city} #{t.name}

		