.jumbotron.headerJumbo
	.row#draftHeader
		= render :partial => 'shared/draftHeader'

	-# %div{:class => 'panel panel-success col-md-10 col-md-offset-1 selectionPanel'}
	-# 	%form{:class => "form-inline"}
	-# 		%input{:type => 'text', :class => 'col-md-7', :placeholder => 'Player', :id => "pName", :'data' => { :'name' => 'name'}}
	-# 		%input{:type => 'text', :class => 'col-md-1 col-md-offset-1', :placeholder => 'Pos', :id => 'pPos', :'data' => { :'pos' => 'position'}}
	-# 		%button{:type => 'submit', :class => 'btn btn-default btn-sm col-md-offset-1 col-md-2', :id => 'draftSubmit'} Submit

-# %p @tms: #{@tms}, @upNext: #{@upNext}, @pickNum: #{@pickNum}, @usr: #{@usr.id}, @userID: #{@userID}, Ovr Pick #: #{@dn}

#AvailPlayers{:class => 'panel panel-success'}
	%div{:class => 'panel-heading availableHeader row'}
		%h3{:class => 'col-md-3'} Teams Available

	%div{:class => 'row', :id => 'teamsAvail'}
		= render :partial => 'shared/teamsAvailable'

	

#DraftSummary
	= render :partial => 'shared/draftSummary'

