#OnTheClock.glow-alert
		%h4.text-center You are on the clock

.jumbotron.headerJumbo
		.row#draftHeader
				= render :partial => 'shared/draftHeader'

-# %p.glow_text Auth_user ID: #{@auth_user.id}, Auth Name: #{@auth_user.owner}, userName.id: #{@userName.id}, 


#AvailPlayers{:class => 'panel panel-success'}
		%div{:class => 'panel-heading availableHeader row'}
				%h3{:class => 'col-md-3'} Teams Available

		%div{:class => 'row', :id => 'teamsAvail'}
				= render :partial => 'shared/teamsAvailable'

		

#DraftSummary
		= render :partial => 'shared/draftSummary'


#myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}

#DraftSuccessModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "DraftModalLabel", :role => "dialog", :tabindex => "-1"}
		
	
