<p id="notice"><%= notice %></p>

<p>
  <strong>Round:</strong>
  <%= @draft.round %>
</p>

<p>
  <strong>Pick:</strong>
  <%= @draft.pick %>
</p>

<p>
  <strong>User:</strong>
  <%= @draft.user_id %>
</p>

<p>
  <strong>Team:</strong>
  <%= @draft.team_id %>
</p>

<%= link_to 'Edit', edit_draft_path(@draft) %> |
<%= link_to 'Back', drafts_path %>
