!!!
%html
	%head
		%title WinsPool
		%meta{:name => "viewport", :content => "width=320,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"}
		-# <meta name="viewport" content="width=320,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" >
		= include_gon(:init => true)
		= stylesheet_link_tag		"application", media: "all", "data-turbolinks-track" => true
		= javascript_include_tag "application", "data-turbolinks-track" => true
		= csrf_meta_tags
	%body
		- if @auth_user
			= render 'layouts/navbar'
			- if flash[:notice] or flash[:alert]
				#alertSpace
				- flash.each do |k, v|
					- if v != nil
						- formatAlerts(k, v)
						%div{:class => @class, :id => k}
							%button.close{"data-dismiss" => "alert", :type => "button"} &times;
							%p= raw v
						- flash.discard(k)
			-# %p Auth user is #{@auth_user.owner}, ID: #{@auth_user.id}
			.myBody
				= yield
		- else
			-# %h1.ui-title TitlePool
			=render 'layouts/navbarSignUp'
			- if flash[:notice] or flash[:alert]
				#alertSpace
				- flash.each do |k, v|
					- if v != nil
						- formatAlerts(k, v)
						%div{:class => @class, :id => k}
							%button.close{"data-dismiss" => "alert", :type => "button"} &times;
							%p= raw v
						- flash.discard(k)
			.myLogin
				= yield
		-# #alertSpace
		-# 	- flash.each do |k, v|
		-# 		- if v != nil
		-# 			- formatAlerts(k, v)
		-# 			%div{:class => @class, :id => k}
		-# 				%button.close{"data-dismiss" => "alert", :type => "button"} &times;
		-# 				%p= raw v
		-# 			- flash.discard(k)
			-# - if notice || alert
			-# 	%p.notice #{notice}
			-# 	%p.alert #{alert}
			-# %p.alert-info #{params.inspect}
			
		-# = yield

		%br

		= render 'layouts/bkSpinner'

		#TeamModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "PlayerModalLabel", :role => "dialog", :tabindex => "-1"}

		#NFLTeamModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "PlayerModalLabel", :role => "dialog", :tabindex => "-1"}
	