!!!
%html
	%head
		%title WinsPool
		= stylesheet_link_tag		"application", media: "all", "data-turbolinks-track" => true
		= javascript_include_tag "application", "data-turbolinks-track" => true
		= csrf_meta_tags
	%body
		- if user_signed_in?
			= render 'layouts/navbarBSdd'
			.myBody
		- else
			-# %h1.ui-title TitlePool
			=render 'layouts/navbarNewUsr'
			.myLogin
		#alertSpace
			- flash.each do |k, v|
				- if v != nil
					- formatAlerts(k, v)
					%div{:class => @class, :id => k}
						%button.close{"data-dismiss" => "alert", :type => "button"} &times;
						%p= raw v
					- flash.discard(k)
			-# - if notice || alert
			-# 	%p.notice #{notice}
			-# 	%p.alert #{alert}
		= yield
	